body, .wrap, #table, .buttonAdd {
	margin: auto;
}
.wrap {
	width: 400px;
}
.form {
	padding: 10px;
}
#divName, #divBirth {
	float: left;
}
#divSurname, #divSuper {
	float: right;
}
.buttonAdd {
	margin-bottom: 10px;
	display: block;
	width: 120px
}
#table, .row {
	border: 1px solid #b4b0bb;
	padding: 10px;
}
#table {
	border-collapse: collapse;
	min-height: 50px;
	min-width: 200px;
	text-align: center;
	font-family: 'Oswald', sans-serif; 
}
.row {
	background: #d9d9d9;
}
.headOfTable1, .headOfTable2, .headOfTable3, .headOfTable4 {
	background: #b3b0aa;
	border-right: 1px solid black;
	padding: 5px;
}
.headOfTable5 {
	padding: 5px;
	background: #b3b0aa;
}

/*

NAMES BEFORE FORMS

*/

.form::before {
	font-size: 15px;
	color: black;
}
#divName::before {
	content: "Name:"
}
#divSurname::before {
	content: "Surname:"
}
#divBirth::before {
	content: "BirthDate:"
}
#divSuper::before {
	content: "Super ability:"
}