body, .wrap, #table, .buttonAdd {
	margin: auto;
}
.wrap {
	width: 50%;
}
.form {
	padding: 5px;
}
#divName, #divBirth ,#divSurname, #divSuper {
	width: 200px;
	margin: auto;
}
#name, #birth ,#lastname, #superabil {
	width: 200px;
}
.buttonAdd {
	margin-bottom: 5px;
	display: block;
	width: 105px;
}
#table, .row {
	border: 1px solid #b4b0bb;
	padding: 10px;
}
#table {
	border-collapse: collapse;
	min-height: 50px;
	min-width: 200px;
	text-align: center;
	font-family: 'Oswald', sans-serif; 
}
.row {
	background: #d9d9d9;
}
.headOfTable1, .headOfTable2, .headOfTable3, .headOfTable4 {
	background: #b3b0aa;
	border-right: 1px solid black;
	padding: 5px;
}
.headOfTable5 {
	padding: 5px;
	background: #b3b0aa;
}

/*

NAMES BEFORE FORMS

*/

.form::before {
	font-size: 15px;
	color: black;
}
#divName::before {
	content: "Name:"
}
#divSurname::before {
	content: "Surname:"
}
#divBirth::before {
	content: "Birthday:"
}
#divSuper::before {
	content: "Superpower:"
}