header{
	background-color: rgba(200, 200, 200, 0.2);
	margin-bottom: 15px;
	text-align: center;
	padding: 3rem;
}
aside input{
	width: 100%;
	margin-bottom: 10px;
}
#tableContent input{
	width: 100%;
	padding: 0;
	margin: 0;
}
#tableContent input[type='text'], #tableContent input[type='date']{
	width: 90%;
	margin: 19px 5px;
}
#tableContent input[value='Ok']{
	width: 80px;
}
#tableContent input[type='date']{
	width: 130px;
}
.birthTd{
	width: 5.4em;
	min-width: 5.4em;
}
.fa-rocket{
	font-size: 3em;
}
.fa-rocket::before{
	font-size: 2.5em;
}
.color-col, td input[type='button']{
	background-color: rgba(200, 200, 200, 0.2)
}